* {
    margin: 0;
}
body {
    margin: 0;
    font: 1em sans-serif;
}
circle {
    fill-opacity: .5;
}
h1 {
    padding: 0.2em 0 0.2em 0.5em;
    margin: 0;
    color: #1c2733;
}
p {
    line-height: 1.5em;
    margin-bottom: .5em;
}
a {
    color: #306596;
}
a:hover {
    color: #cc4731;
}
label {
    margin-left: .5em;
}

#area {
    overflow: hidden;
}
#header {
    background: #f8f8f8;
    margin: 0;
}
#rc-log-c {
    margin: 0.5em;
    line-height: 1.5em;
    font-size: .8em;
    border: 1px solid #2f6fab;
}
#rc-log-c h3 {
    padding: .5em;
    margin: 0;
    background: #fff;
    border-bottom: 1px solid #d8e6ec;
    font-size: 2em;
}
#rc-log {
    list-style-type: none;
}
.note {
    margin: 0;
    padding: .5em;
    background: rgb(248, 248, 248);
    border-top: 1px solid #d8e6ec;
    font-size: .8em;
    color: #ccc;
    padding-bottom: 1px;
}
#edit_counter {
    font-size: 1.5em;
    color: #000;
}
#edit_counter span {
    color: #cc4731;
}
#content {
    margin: 1em auto 4em auto;
    max-width: 960px;
    position: relative;
}
.foot {
    margin: 0 auto 4em auto;
    max-width: 960px;
    position: relative;
    padding: 0 .5em 0 .5em;
}
.foot h3 {
    padding-top: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #eee;
}
.conStatus {
    color: #bdc3c7;
}
.bg {
    padding: 3px;
    background: #fff;
    border-radius: 3px;
    margin: 1em;
}
.article-label {
    font: 1.0em sans-serif;
    text-shadow:1px 1px 0 rgb(28, 39, 51),
    -1px -1px 0 rgb(28, 39, 51),
    1px -1px 0 rgb(28, 39, 51),
    -1px 1px 0 rgb(28, 39, 51),
    0px 1px 0 rgb(28, 39, 51),
    1px 0px 0 rgb(28, 39, 51),
    0px -1px 0 rgb(28, 39, 51),
    -1px 0px 0 rgb(28, 39, 51);
    }
.newuser-label {
    font: 1em sans-serif;
    opacity: 1;
}
.about-link {
    float: right;
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
    padding-right: 2em;
    padding-top: 1em;
}
.lang {
    color: #bdc3c7;
    padding: auto .5em;
}
.log-bot {
    color: rgb(155, 89, 182);
}
.log-anon {
    color: rgb(46, 204, 113);
}
.log-undo {
    color: rgb(236, 112, 99)
}
.loc {
    border-bottom: 1px dashed #ccc;
}

#lang-boxes p {
    float: left;
    width: 20em;
    font-size: .9em;
}

.clear br {
    clear: left;
}

#loading {
    position:absolute;
    top:3em;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    padding: 0;
    font-size: 4em;
    color: #fff;
    background-color: rgba(189, 195, 199, 0.6);
}
#loading p {
    text-align: center;
    margin: 0.5em;
}




/* volume stuff */
#volumeWrapper {
  width: 70px;
	margin: 2em;
}

#volumeControl {
	cursor: pointer;
	opacity: 0.5;
}

#volumeControl:hover {
	opacity: 1;
}

#volumeSlider {
  width: 70px;
  display: inline-block;
  background-color: rgba(192,192,192,0.4);
}

#volumeSlider div {
  display: inline-block;
}
